@font-face {
    font-family: 'Wild Breath';
    src: url('/mainmenu/font/The Wild Breath of Zelda.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bond-BoldItalic';
    src: url('/mainmenu/font/Bond-BoldItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    color: #e4d3ad;
}

.m-menu-fullscreen {
    background-image: url('/mainmenu/backgrounds/mainBG.png');
    width:100dvh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-position 0.2s ease-out;
    font-family: 'Wild Breath', sans-serif;
}

.m-menu-gradient {
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.0));
    background-size: cover;
    background-position: center;
}

.wildtext {
    font-family: 'Wild Breath', sans-serif;
}

.navmenu li:not(.disabled) a:hover::after {
    content: url('/mainmenu/selector.svg');
    position: relative;
    left: 20px;
    width: 50px;
    display: inline-block;
    line-height: 40px;
    transform: rotate(180deg) translateY(20%);
    filter: sepia(12%) saturate(346%) hue-rotate(357deg) brightness(98%) contrast(90%);
}

.m-menu-sidebar,
.rightmodal {
    transition: all 0.3s ease-in-out;
}

.rightmodal.outofscreenr {
    transform: translateX(100%);
}

.boomerBtn {
    font-family: sans-serif;
}

.m-menu-sidebar.outofscreenl {
    transform: translateX(-150%);
}


@media (max-width: 768px) {
    .m-menu-fullscreen {
        background-size:auto;
        background-position: top right;
    }
}